.gitignore
*.orig
*~
#*

/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.cache
/config.log
/config.status
/configure
/install-sh
/missing

lisp/*.elc
lisp/*/*.elc
lisp/#*
lisp/Makefile
lisp/Makefile.in
lisp/lookup-autoloads.el
lisp/test-*
lisp/*.txt
misc/mksary-*
texi/Makefile
texi/Makefile.in
texi/lookup.info
texi/texinfo.tex
texi/lookup.cp
texi/lookup.fn
texi/lookup.ky
texi/lookup.old.*
texi/lookup.pdf
texi/lookup.pg
texi/lookup.tmp
texi/lookup.tp
texi/lookup.vr

lisp/x-old/*
doc/*
