*.orig
*~
#*

/COPYING
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.cache
/config.log
/config.status
/configure
/install-sh
/missing

lisp/*.elc
lisp/Makefile
lisp/Makefile.in
lisp/lookup-autoloads.el
texi/Makefile
texi/Makefile.in
texi/lookup.info
texi/texinfo.tex
